@charset "UTF-8";

@import "normalize.css";

@import"slick-1.8.1/slick/slick.css";

@import"slick-1.8.1/slick/slick-theme.css";

@import "fonts.css";


:root {
    --paragraph-font:"JetBrains Mono";
    --heading-font:"Atkinson Hyperlegible";
    /*Color Palette*/
    --white: #FEFCFB;

    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;

    --platinum: #e0e1ddff;
    --rich-black: rgba(13, 27, 42, 1);
    --oxford-blue: rgba(27, 38, 59, 1);
    --yinmn-blue: rgba(65, 90, 119, 1);
    --silver-lake-blue: rgba(119, 141, 169, 1);
    --platinum: rgba(224, 225, 221, 1);
    --nav-text:rgba(224, 225, 221, 0.75);
}

*{
    box-sizing: inherit;
}
html{
    background-color: var(--rich-black);
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3,h4,h5, h6{
    font-family: var(--heading-font),sans-serif;
}
body{

    background-color:var(--rich-black);

    ;
}
main{
    margin-top: 60px ;
    flex:1;
    padding: 20px;
}
header{
    position: fixed;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    background-color: var(--oxford-blue);
    z-index: 6;
    /*top: 0;*/
}
ul{
    list-style: none;
    padding: 0;
    margin:0 ;
}
ol{
    list-style-type: decimal-leading-zero;
    margin: 0;
    color: #f1f1f1;
}
a{
    text-decoration: none;
    color: var(--nav-text);
    font-size: 12px;
}
a:hover, a:focus{
    color: var(--platinum);
    transition: all 0.4s;
}
p{
    color: var(--platinum);
    margin-left: 7px;
    font-size: 1.2rem;
}
blockquote{
    display: inline-block;
    border: 3px solid var(--platinum);
    border-radius: 10px;
    background-color: var(--yinmn-blue);
    color: var(--platinum);
    padding: 10px;
    margin-left: 30px;
}
cite{
    background-color: var(--rich-black);
    border-radius: 5px;
}
pre{
    display: flex;
    overflow: auto;
    max-width: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    background-color: var(--yinmn-blue);
    color: var(--platinum);
    padding: 20px;
    margin-left: 30px;
    margin-right: 5px;

}
table{
    table-layout:fixed;
    word-break: break-word;

    background-color: var(--yinmn-blue);
    border: var(--rich-black) 2px solid;
    margin-bottom: 15px;
    margin-left: 15px;
    border-spacing: 10px;



}
tr:nth-child(1){
    background-color: var(--oxford-blue);
}
tr:nth-child(even){
    background-color: var(--silver-lake-blue);
}
th{
    background-color: var(--silver-lake-blue);
    border: black groove 1px;
    padding: 3px;
}
td{
    border: solid 2px var(--platinum);
    padding:3px;
    row-gap: 10px;

}

footer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;



}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;

}
footer a{
    color: var(--platinum);
    opacity: 0.5;
}
footer a:hover{
    opacity: 1.0;
    transition: all 0.4s ease-in-out;
}
/*Nav bar positioning and styling*/
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding:0 30px;
    background-color: var(--oxford-blue);
    min-height: 60px;
    
}
.site_nav{
    display: none;
}
.site_nav_open{
    transform: translate(0) !important;
}

.logo{
    color: var(--platinum);
    letter-spacing: -1px;
    font-size: 20px;
    font-weight: 600;
}
.site_nav_list{
    display: flex;
    justify-content: center;
    align-items: center;


}
.bar{
    height: 2px;
    width: 27px;
    background: var(--platinum);
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}
/*Footer positioning and styling*/
.social_media {
    display: flex;
    justify-content: center;
    color: var(--platinum);



}
.social_media ul li{

    grid-column: 1/-1;
    color: var(--platinum);
}

.nav_item{

}
/*text hovering over image with a link*/
.image_over_text{
    position: relative;
    opacity: 0.5;
    filter: alpha(opacity=40);
    transition: all 0.4s ease-in-out;
    z-index: 0;
    /*border: 1px solid var(--platinum);*/
}
.absolute_child{
    color: var(--platinum);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 0;

}
.image_over_text:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: all 0.4s ease-in-out;
}
.image_showcase{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
/* making the cards equal size in the gallery page */
.trips{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-rows: auto;
}
.trips article{
    grid-column: 1/-1;
}
/*Nav pseudo classes */
.nav_link{
    color: var(--nav-text);
    font-size: 12px;
}
.about{
    margin-top: 20px;
}
.nav_link:hover,
.nav_link:focus{
    color: var(--platinum);
    transition: all 0.4s;
}/*transform effects for mobile nav*/
.hamburger_open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.hamburger_open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger_open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);

}
.hamburger{
    display: block;
    cursor: pointer;
}
/*Styling form on contact page*/

.form_group{
    display: flex;
    flex-direction: column;
    align-items: center;

}
form label{
    min-width: 100px;
}
form input{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form_group textarea{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height:30px;
    margin-bottom: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-height: 100vh;
    margin: auto ;
    background-color: var(--rich-black);
    color: var(--white);
    font-family: var(--paragraph-font),sans-serif;
    font-size: 1rem;

}
#index_link{
    background-color: var(--silver-lake-blue);
    color: var(--platinum);
    text-decoration: none;
    padding: 10px;
    border-radius: 15px 10px ;
    margin-left: 30px;
    opacity: 0.4;
    transition: all 0.4s ease-in-out;

}
#index_link:hover{
    opacity:1.0;
    transition: all 0.4s ease-in-out;
    background-color: var(--yinmn-blue);
}
 #contact_text #contact_picture img {
    margin-top: 20px;
}
#form_submit{
    color: var(--platinum);
    background-color: var(--yinmn-blue);
    border: none;
    cursor: pointer;
    display: inline-block;
    width:90px;
}
#pre_container{
    flex:1;
    min-width: 0;
}
/*Media Queries*/
@media (min-width: 320px) {
    .site_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition:all 0.3s ease-in-out;
        position: fixed;
        top:60px;
        left: 0;
        background-color: var(--oxford-blue);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        z-index: 5;

    }

    .site_nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

    }
    .nav_link{
        font-size: 15px;
    }

    
}
@media (min-width: 600px) {
    .form_group{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px;

    }

    .form_group div:nth-child(1){
        grid-column: 1/1;
        margin-bottom: 10px;
    }
    .form_group div:nth-child(2){
        grid-column: 1/2;
        margin-bottom: 10px;

    }
    .form_group div:nth-child(3){
        grid-column: 1/1;
        grid-row: 1;
        margin-bottom: 10px;

    }
    .form_group div:nth-child(4){
        grid-column: 3;
        grid-row: 1;
    }
    .form_group button{
        grid-column: 3;
        grid-row: 3;
        height:20px;
        border-radius: 10px 5px;
    }
}
@media (min-width:700px) {
    header{
        max-width: 1024px;
        width: 100%;
    }

    form{
        margin-bottom: 40px;
    }
    .header_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      
    }
    .site_nav{
        display: flex;
        flex-direction: row;
        transform: translateX(0%) ;
        transition: 0.3s ease-in;
        position: static;
        width:unset;
        padding-top:20px;
    }
    .site_nav_list{
        display:flex;
        flex-direction: row;
        column-gap: 20px;
    }
    .hamburger{
        display: none;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about_text{
        grid-column: 1/1;
        grid-row: 1;
    }
    .cover_index{
        grid-column: 2/-1;
    }
    .form_group{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px;

    }

   .form_group div:nth-child(1){
        grid-column: 1/1;
   }
   .form_group div:nth-child(2){
       grid-column: 1/2;
   }
   .form_group div:nth-child(3){
       grid-column: 1;
       grid-row: 1;
   }
   .form_group div:nth-child(4){
       grid-column: 3;
   }
}
@media (min-width:1000px) {
    form{
        grid-column: 1/3;
    }
    .form_group div:nth-child(1){
        grid-column: 1/1;
    }
    .form_group div:nth-child(2){
        grid-column: 1/2;
    }
    .form_group div:nth-child(3){
        grid-column: 1;
        grid-row: 1;
    }
    .form_group div:nth-child(4){
        grid-column: 1;
        grid-row: 6;
    }
    
    

    #form_submit{
        grid-column: 1;
        grid-row: 7;
    }
    #contact_text{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-auto-rows: auto;

    }
    #grid-text-format{
        grid-column: 1/3;
    }
    #contact_picture{
        grid-column: 3/-1;
        grid-row: 1/1;
    }
}

